#create-account-main {
    display: none;
    position: relative;
    top: 25px;
}

#create-account-section > form > div:last-child {
    gap: 0;
    width: 50%;
}

#create-account-section {
    width: 80%;
    height: max-content;
    border-radius: 15px;
    box-shadow: 0 0 14px -3px #00000057;
}

#create-account-form {
    margin: 30px;
    gap: 15px;
}

#create-account-form > div:nth-child(1) > div>input ,
#create-account-form > div:nth-child(2) > div:nth-child(1) >div>input{
    height: 40px;
}
#create-account-form > div:nth-child(2){
    align-items: center;
}
#create-account-form > div > div > div > label,
#create-account-form > div > div > div > span,
#create-account-form > div > div > div > input,
#address{
    font-size: 16px;
    height: 40px;
}

#create-account-form label {
    align-self: flex-start;
}

.chooser{
    gap: 20px;
    width: 100%!important;
}

#create-account-form > div > div {
    width: 250px;
}

textarea {
    height: 40px;
}

#nic-front-photo,
#nic-back-photo,
#license-front-photo,
#license-back-photo {
    width: 350px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid #00000052;
}

#create-account-login-btn {
    background-color: #0027ff;
    margin-top: 0;
    margin-bottom: 25px;
}

#create-account-create-btn {
    background-color: #0acd00;
    margin-top: 30px;
}

#create-account-create-btn, #create-account-login-btn {
    width: 245px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 3px 6px -4px black;
}

#create-account-line > div {
    height: 1px;
    background-color: black;
    width: 30%;
}

#create-account-line > h5 {
    margin: 15px;
}

#create-account-line {
    width: 80%;
    height: max-content;
}

main > div {
    height: 30px;
    width: 100%;
}