main {
    width: 77%;
    position: absolute;
    right: 0;
    height: max-content;
    justify-content: flex-start !important;
}

a {
    text-decoration: none;
}

/*=====================================================navigation bar================================================*/

#nav-bar {
    position: fixed;
    left: 0;
    border-radius: 0 15px 15px 0;
    width: 250px;
    height: 100%;
    box-shadow: 0 0 14px -3px #00000057;
    background: #2f3457;
}

#nav-bar > div {
    position: relative;
    top: 10px;
    width: 100%;
    gap: 5px;
    align-self: flex-start;
}

#nav-bar > div > a {
    align-self: flex-start;
    width: 100%;
}

#nav-bar > div > a > button {
    width: 96%;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: -5px 5px 14px -14px black;
}

/*=====================================================schedule================================================*/
#schedule {
    position: relative;
    top: 50px;
}

#schedule > table {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 14px -3px #00000057;
}

/*===================================================== profile section ================================================*/
#profile {
    position: relative;
    top: 50px;
    width: 750px;
    height: max-content;
    justify-content: flex-start;
    gap: 25px;
}

#profile > div:nth-child(1) ,
#profile > form{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 14px -3px #00000057;
}

#profile-photo {
    width: 200px;
    height: 200px;
    background-color: #1aff00;
    border-radius: 100%;
    align-self: flex-start;
    z-index: 1;
    margin: 20px;
    position: relative;
}


#driver-details {
    position: relative;
    align-self: flex-start;
}

#driver-details > div {
    align-content: flex-start;
}

#driver-details > div > h5 {
    font-size: 18px;
    align-self: flex-start;
}

#driver-details > h1 {
    margin-bottom: 25px;
}

#edit {
    flex-grow: 1;
    align-self: flex-end;
    position: relative;
    bottom: 15px;
    justify-content: flex-end;
    right: 15px;
}

#edit > button {
    border-radius: 100%;
    border: none;
    width: 35px;
    height: 35px;
    background-color: #00ff2b;
    box-shadow: -2px 2px 11px -5px black;
}

#profile > form {
    display: none;
    width: 100%;
    height: max-content;
    background-color: white;
    justify-content: flex-start;
    align-content: flex-start;
}


#profile > form > div {
    margin: 0 24px;
    align-self: flex-start;
}

#profile > form > div > div {
    align-self: flex-start;
    margin: 20px;
    gap: 20px;
}

#driver-details-update-btn {
    width: 200px;
    /*margin-left: 15px;*/
    margin-bottom: 20px;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: -3px 3px 6px -5px black;
    background-color: lime;
    font-weight: bold;
    color: white;
}

main > div {
    width: 100%;
    height: 100px;
}