@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

.flex{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.f-row{
    flex-direction: row;
}
.f-col{
    flex-direction: column;
}
.f-wrap{
    flex-wrap: wrap;
}

/*================================================== nav bar =======================================================*/
html {
    font-size: 62.5%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}
h1 {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
}
p {
    margin-bottom: 0.5em;
    font-size: 1.6rem;
    line-height: 1.6;
}
#navbar-sign-in, #navbar-sign-up {
    height: 40px;
    width: 80px;
    border: 2px solid;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;
    color: white;
}

#navbar-sign-in {
    background-color: unset;
}

#navbar-sign-up {
    background-color: #00db00;
}

#main-nav{
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 25px;
    border-radius: 4px;
}
.button-primary {
    position: relative;
    background-color: #c0ca33;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color 0.3s ease-in;
    z-index: 1;
}
.button-primary:hover {
    color: #c0ca33;
    text-decoration: none;
}
.button-primary::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    border-radius: 4px;
    opacity: 0;
    -webkit-transform: scaleX(0.8);
    -ms-transform: scaleX(0.8);
    transform: scaleX(0.8);
    transition: all 0.3s ease-in;
    z-index: -1;
}
.button-primary:hover::after {
    opacity: 1;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
.overlay::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
}
.header-area {
    position: relative;
    height: 70px;
    background: #004357;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.banner {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    color: #fff;
    text-align: center;
    z-index: 1;
}
.banner h1 {
    font-weight: 800;
}
.banner p {
    font-weight: 700;
}
.navbar {
    position: absolute;
    left: 0;
    padding: 0;
    width: 100%;
    transition: background 0.6s ease-in;
    z-index: 99999;
}
.navbar .navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
}
.navbar .navbar-toggler {
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    outline: none;
}
.navbar .navbar-toggler .menu-icon-bar {
    position: absolute;
    left: 15px;
    right: 15px;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    transition: all 0.3s ease-in;
}
.navbar .navbar-toggler .menu-icon-bar:first-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(45deg);
    -ms-sform: translateY(-1px) rotate(45deg);
    transform: translateY(-1px) rotate(45deg);
}
.navbar .navbar-toggler .menu-icon-bar:last-child {
    opacity: 1;
    -webkit-transform: translateY(-1px) rotate(135deg);
    -ms-sform: translateY(-1px) rotate(135deg);
    transform: translateY(-1px) rotate(135deg);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar {
    opacity: 1;
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
    -webkit-transform: translateY(-7px) rotate(0);
    -ms-sform: translateY(-7px) rotate(0);
    transform: translateY(-7px) rotate(0);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
    -webkit-transform: translateY(5px) rotate(0);
    -ms-sform: translateY(5px) rotate(0);
    transform: translateY(5px) rotate(0);
}
.navbar-dark .navbar-nav .nav-link {
    position: relative;
    color: #fff;
    font-size: 1.6rem;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
.navbar .dropdown-menu {
    padding: 0;
    background-color: rgba(0, 0, 0, .9);
}
.navbar .dropdown-menu .dropdown-item {
    position: relative;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    transition: color 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}
.navbar .dropdown-menu .dropdown-item:hover {
    background: transparent;
    color: #c0ca33;
}
.navbar .dropdown-menu .dropdown-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 5px;
    background-color: #c0ca33;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:hover::before {
    opacity: 1;
}
.navbar.fixed-top {
    position: fixed;
    -webkit-animation: navbar-animation 0.6s;
    animation: navbar-animation 0.6s;
    background-color: rgba(0, 0, 0, .9);
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
    color: #c0ca33;
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
    background-color: #c0ca33;
}
.content {
    padding: 120px 0;
}

@media screen and (max-width: 768px) {
    #navbar-sign-in,#navbar-sign-up{
        display: none;
    }
    #main-nav{
        display: none!important;
    }
    .navbar-brand {
        margin-left: 20px;
    }
    .navbar-nav {
        padding: 0 20px;
        background-color: rgba(0, 0, 0, .9);
    }
    .navbar.fixed-top .navbar-nav {
        background: transparent;
    }
}
@media screen and (min-width: 767px) {
    .banner {
        padding: 0 150px;
    }
    .banner h1 {
        font-size: 5rem;
    }
    .banner p {
        font-size: 2rem;
    }
    .navbar-dark .navbar-nav .nav-link {
        padding: 23px 15px;
    }
    .navbar-dark .navbar-nav .nav-link::after {
        content: '';
        position: absolute;
        bottom: 15px;
        left: 30%;
        right: 30%;
        height: 1px;
        background-color: #fff;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        transition: transform 0.1s ease-in;
    }
    .navbar-dark .navbar-nav .nav-link:hover::after {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }
    .dropdown-menu {
        min-width: 200px;
        -webkit-animation: dropdown-animation 0.3s;
        animation: dropdown-animation 0.3s;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
    }
}
@-webkit-keyframes navbar-animation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes navbar-animation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes dropdown-animation {
    0% {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
    }
    75% {
        -webkit-transform: scaleY(1.1);
        -ms-transform: scaleY(1.1);
        transform: scaleY(1.1);
    }
    100% {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes dropdown-animation {
    0% {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
    }
    75% {
        -webkit-transform: scaleY(1.1);
        -ms-transform: scaleY(1.1);
        transform: scaleY(1.1);
    }
    100% {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
}


/*=================================================== home section ====================================================*/
.slider-img-cover {
    height: 550px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.44);
    position: absolute;
    top: 0;
}

#slider-img-1, #slider-img-2, #slider-img-3 {
    height: 550px;
    width: 100vw;
}

#slider-img-1 {
    background: url("../image/car-front/benz.jpg");
    background-position: center;
    background-size: cover;
}

#slider-img-2 {
    background: url("../image/car-front/RR.jpg");
    background-position: center;
    background-size: cover;
}

#slider-img-3 {
    background: url("../image/car-front/CHR.jpg");
    background-position: center;
    background-size: cover;
}
.slider-img-text{
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    color: white;
}
.slider-company-name{
    font-size: 1.5em;
    color: #FF9800;
    font-weight: bold;
}
#slider-luxury,#slider-premium,#slider-regular{
    color: #FF9800;
    font-weight: bold;
}
/*==================================================== about section ================================================*/
.topic {
    margin: 25px 0 25px 0;
}

#about-section {
    margin-bottom: 25px;
    height: max-content;
}

#about > p {
    margin: 0;
    text-align: center;
    padding: 0 25px 0 25px;
    font-family: 'Roboto', sans-serif;
}

#about > p > span {
    font-size: 38px;
    color: #FF9800;
}

#about {
    width: 50%;
}

#about-img > img {
    width: 500px;
    height: 300px;
}

/*=================================================== details section ================================================*/
#details-section {
    overflow: hidden;
    position: relative;
    height: 150px;
    background-color: #00000080;
}

#details-section > div:first-child {
    width: 90%;
    color: white;
    position: absolute;
}

#details-section > div > div {
    flex-grow: 1;
}

#details-section > div > div > h5 {
    font-size: 18px;
}
#details-section > div > div > h1 {
    margin-bottom: 5px;
    font-size: 42px;
}

#details-img {
    z-index: -1;
    width: 100%;
    height: 300px;
    background-position: center;
    background: url(../image/car-front/woman-holding-keys-from-her-new-car.jpg);
    background-size: cover;
}

/*================================================= rental section ===================================================*/
/*==================================================== search bar ====================================================*/
#search-bar {
    box-shadow: 0 2px 13px -4px #0000005c;
    width: 80%;
    height: max-content;
    border-radius: 15px;
}

#search-bar>button {
    border: none;
    box-shadow: 0 0 3px -1px black;
    background-color: #03A9F4!important;
    color: white!important;
    font-size: 18px;
    font-weight: bold;
}
.form-select,#search-bar>button {
    border-radius: 10px;
    width: 160px;
    height: 35px;
    font-size: 14px;
    background-color: white;
    color: black;
    margin: 10px;
}
/*==================================================== rental details section ====================================================*/
#rental-display-section {
    gap: 50px;
    margin-top: 25px;
    height: max-content;
    width: 80%;
}

.display-car {
    position: relative;
    width: 350px;
    height: 475px;
    border-radius: 15px;
    box-shadow: 0 0 9px -5px black;
}

.display-car > div:first-child {
    width: 100%;
    height: 200px;
    background: url("../image/car-front/benz.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    border-radius: 15px 15px 0 0;
}

.display-car > div:last-child {
    position: relative;
    width: 100%;
    height: 275px;
    border-radius: 0 0 15px 15px;
    justify-content: flex-start;
}

.display-car > div:last-child >div:first-child> h2 {
    margin: 13px 0 13px 0;
}

.price-details {
    width: 100%;
}

.price-details > div {
    margin-left: 20px;
    flex-grow: 1;
}

.other-details > h3 > span, .price-details > div > h3 > span {
    font-weight: bold;
}

.other-details > h3 {
    margin-top: 10px;
}

.other-details > h3, .price-details > div > h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.horizontal-line {
    width: 1px;
    background-color: #00000052;
    height: 100%;
    margin-left: 0 !important;
    flex-grow: 0 !important;
}

.other-details {
    width: 100%;
}

.other-details > div {
    width: 100%;
}

.other-details > div > div {
    flex-grow: 1;
}

.other-details > div > div > span {
    margin-left: 10px
}

.car-type {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    box-shadow: 0 0 6px -3px black;
}

.luxury-bach {
    background-color: #f7c41e;
}

.general-bach {
    background-color: #CD7F32;
}

.premium-bach {
    background-color: #C0C0C0;
}

.car-type > h2 {
    margin: 0;
    font-size: 16px;
    color: white;
}

.car-color{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #ff253a;
    border-radius: 5px;
}