#img-slider > div {
    width: 100%;
}
#cart-form-section>form>div>div>input,
#cart-form-section>form>div>div>select{
    margin: 0;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #0000004f;
}
#img-slider > div > div > div:first-child > div:first-child,
#img-slider > div > div > div:nth-child(2) > div:first-child,
#img-slider > div > div > div:nth-child(3) > div:first-child,
#img-slider > div > div > div:last-child > div:first-child {
    height: 300px;
    border-radius: 15px;
}

#item-main {
    position: relative;
    top: 60px;
    gap: 25px;
    display: none;
    margin-bottom: 80px;
}
#item-back-btn{
    display: flex;
    justify-content: center;
    align-self: flex-start;
    position: relative;
    left: 20px;
    top: -20px;
    border: none;
    background: #ff7800;
    width: 100px;
    height: 40px;
    align-items: center;
    color: white;
    border-radius: 15px;
}
#item-details-section {
    width: 80%;
    height: max-content;
    border-radius: 15px;
    box-shadow: 0 0 10px -6px black;
}

#img-slider {
    margin: 25px;
    display: flex;
    width: 360px;
    height: 300px;
    border-radius: 15px;
    /*background-color: #ff253a;*/
    align-self: flex-start;
}

#details {
    width: 600px;
    border-radius: 15px;
    height: max-content;
    align-self: flex-start;
    margin: 25px;
}

#car-name {
    margin-bottom: 20px;
}

#daily-rate, #monthly-rate {
    flex-grow: 1;
    align-items: flex-start;
    margin-left: 20px;
}

#rate {
    width: 100%;
}

#horizontal-line {
    background-color: #0000004d;
    width: 1px;
    height: 100%;
    margin: 15px;
}

h3 {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 15px;
}

h3 > span {
    font-weight: bold;
}

.other-details,
.other-details > div,
.other-details > div > div {
    width: 100%;
}

.other-details > h3,
.other-details > div > div > div ,
.other-details > div,
.other-details > div > div {
    align-self: flex-start;
}

p,
.other-details > div > div,
.other-details > h3{
    margin-left: 20px;
}

/*================================================== form section ====================================================*/

#cart-form-section ,
#form-section {
    width: 80%;
    height: max-content;
    border-radius: 15px;
    box-shadow: 0 0 10px -6px black;
}

form {
    gap: 25px;
    margin: 15px;
}

form > div {
    width: 100%;
    display: flex;
    /*align-items: flex-start;*/
    gap: 25px;
}

form > div:nth-child(2) {
    align-items: flex-start;
}

form > div:last-child {
    justify-content: flex-start;
}

#add-to-cart {
    background-color: #FF9800;
}
#reservation-btn,
#cart-reservation-btn{
    background-color: #0066ff;
}
form > div:last-child > button {
    font-weight: bold;
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 12px -4px black;
}

label {
    align-self: flex-start;
}

#form-section>form>div>div>[type=date],
#form-section>form>div>div>[type=time],
#form-section>form>div>div>[type=text],
#form-section>form>div>div>select {
    padding: 0 10px 0 10px !important;
    height: 40px !important;
    width: 250px !important;
    border-radius: 10px !important;
    border: 1px solid #000000b3 !important;
    margin: 0!important;
}

#slip {
    width: 400px;
    height: 250px;
    border-radius: 15px;
    border: 1px solid;
    /*background: red;*/
    background-position: center;
    background-size: cover;
}

@media all and (max-width: 1037px) {

    form > div:nth-child(2) {
        align-items: center;
    }

    form > div:last-child {
        justify-content: center;
    }
}

@media all and (max-width: 575px) {
    #slip {
        width: 300px;
    }
}

@media all and (max-width:425px) {
    #item-details-section,#form-section {
        width: 94%;
    }
}
@media all and (max-width: 375px) {
    h3, p, label {
        font-size: 14px;
    }
}