main {
    width: 100%;
    height: 100vh;
}

#login-section ,
#find-account-section{
    justify-content: flex-start;
    position: relative;
    width: 350px;
    box-shadow: 0 0 14px -3px #00000057;
    height: 470px;
    border-radius: 15px;
    background-color: white;

}

#login-section > div:nth-child(1) ,
#find-account-section > div:nth-child(1) {
    align-self: self-start;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#login-section > form > div > label {
    align-self: flex-start;
}

#login-btn {
    background-color: #0027ff;
    margin-top: 30px;
}

#create-btn {
    background-color: #0acd00;
    margin-top: 0;
}

#login-btn, #create-btn {
    width: 245px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 3px 6px -4px black;
}

input {
    border-radius: 0 10px 10px 0 !important;
}

span {
    border-radius: 10px 0 0 10px !important;
}

#line > div {
    height: 1px;
    background-color: black;
    width: 30%;
}

#line > h5 {
    margin: 15px;
}

#line {
    width: 80%;
    height: max-content;
}

/*================================================ find account section ==============================================*/
#find-account-section {
    height: 360px;
}

a {
    text-decoration: none;
}

#find-account-section > div:first-child > h1,
#find-account-section > div:first-child > p {
    align-self: flex-start;
}

#find-account-section > form > div > label {
    align-self: flex-start;
}


#find-account-section > div:last-child {
    width: 100%;
    position: relative;
    top: 50px;
}

#go-back-btn, #next-btn {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 3px 6px -4px black;
    background-color: #0027ff;
}

#find-account-section > div:last-child > a {
    flex-grow: 1;
}