main {
    width: 100%;
    height: 100vh;
}

#login-section ,
#find-account-section,
#verification-section,
#change-password{
    justify-content: flex-start;
    position: relative;
    width: 350px;
    box-shadow: 0 0 14px -3px #00000057;
    height: 470px;
    border-radius: 15px;
    background-color: white;
}

#login-section > div:nth-child(1) ,
#change-password > div:nth-child(1),
#find-account-section > div:nth-child(1) {
    align-self: self-start;
    margin: 20px;
}

#login-section > form  {
    width: 245px;
    margin: 0;
}
#login-section > form  >div,
#find-account-section > form  >div{
     gap:0;
}
#login-section > form >div>div {
    height: 40px;
    font-size: 16px;
}
#login-section > form > div > label ,
#change-password > form > div > label {
    align-self: flex-start;
}

#login-btn {
    background-color: #0027ff;
    margin-top: 30px;
}

#create-btn {
    background-color: #0acd00;
    margin-top: 0;
}

#login-btn, #create-btn {
    width: 245px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 3px 6px -4px black;
}

input {
    border-radius: 0 10px 10px 0 !important;
    font-size: 16px!important;
}

span {
    border-radius: 10px 0 0 10px !important;
    font-size: 16px!important;
}

#line > div {
    height: 1px;
    background-color: black;
    width: 30%;
}

#line > h5 {
    margin: 15px;
}

#line {
    width: 80%;
    height: max-content;
}

/*================================================ find account section ==============================================*/
#find-account-section {
    height: 375px;
}

a {
    text-decoration: none;
}

#find-account-section > div:first-child > h1,
#find-account-section > div:first-child > p {
    align-self: flex-start;
}

#find-account-section > form > div > label {
    align-self: flex-start;
}

#find-account-section > form > div > div>input {
    height: 40px;
}


#find-account-section > div:last-child {
    width: 100%;
    position: relative;
    top: 50px;
}

#go-back-btn, #next-btn {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 3px 6px -4px black;
    background-color: #0027ff;
}

#find-account-section > div:last-child > a {
    flex-grow: 1;
}

/*================================================ verify account section ==============================================*/
#verification-section,
#change-password{
    height: max-content !important;
}

#verification-section > div:first-child {
    width: 100%;
    margin: 20px 0;
}
#verification-section > div >svg{
    font-size: 40px;
}

#verification-section > div:first-child > i {
    font-size: 50px;
}

#verification-section > div:first-child > h1 {
    margin-top: 15px;
    font-size: 24px;
}

#verification-section > div:first-child > p {
    text-align: center;
    padding: 0 20px;
}

#verification-section > div:nth-child(2) > form {
    gap: 10px;
}

#verification-section > div:nth-child(2) > form > div > input {
    width: 60px;
    height: 60px;
    border-radius: 15px !important;
}

#verification-section > div:nth-child(3) > p {
    margin: 15px 0;
}

#verification-section > div:nth-child(4) ,
#change-password > div:nth-child(3) {
    margin: 25px 0;
}

#continue-btn,
#Change-password-btn{
    width: 245px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 3px 6px -4px black;
    background-color: #0a58ca;
}