
.display-car > div:first-child, .display-car > div:first-child > div > div > div:first-child > div:first-child,
.display-car > div:first-child > div > div > div:nth-child(2) > div:first-child,
.display-car > div:first-child > div > div > div:nth-child(3) > div:first-child,
.display-car > div:first-child > div > div > div:last-child > div:first-child{
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

.display-car > div:first-child > div > div > div:first-child > div:first-child {
    background: url("../image/car-front/benz.jpg");
    background-size: cover;
    background-position: center;
}

.display-car > div:first-child > div > div > div:nth-child(2) > div:first-child {
    background: url("../image/car-front/lamborghini.png");
    background-size: cover;
    background-position: center;
}

.display-car > div:first-child > div > div > div:nth-child(3) > div:first-child {
    background: url("../image/car-front/CHR.jpg");
    background-size: cover;
    background-position: center;
}

.display-car > div:first-child > div > div > div:last-child > div:first-child {
    background: url("../image/car-front/RR.jpg");
    background-size: cover;
    background-position: center;
}



/*================================================= rental section ===================================================*/
/*==================================================== search bar ====================================================*/
#search-bar {
    box-shadow: 0 2px 13px -4px #0000005c;
    width: 80%;
    height: max-content;
    border-radius: 15px;
}

#filter {
    display: none;
}

#search-bar > button {
    border: none;
    box-shadow: 0 0 3px -1px black;
    background-color: #03A9F4 !important;
    color: white !important;
    font-size: 18px;
    font-weight: bold;
}

.form-select, #search-bar > button {
    border-radius: 10px;
    width: 160px;
    height: 35px;
    font-size: 14px;
    background-color: white;
    color: black;
    margin: 10px;
}

/*==================================================== rental details section ====================================================*/
#rental-display-section,
#general-rental-display-section,
#luxury-rental-display-section,
#premium-rental-display-section {
    gap: 50px;
    margin-top: 40px;
    height: max-content;
    width: 100%;
}

.display-car {
    position: relative;
    width: 350px;
    height: 475px;
    border-radius: 15px;
    box-shadow: 0 0 9px -5px black;
}



.display-car > div:last-child {
    position: relative;
    width: 100%;
    height: 275px;
    border-radius: 0 0 15px 15px;
    justify-content: flex-start;
}

.display-car > div:last-child > div:first-child > h2 {
    margin: 13px 0 13px 0;
}

.price-details {
    width: 100%;
}

.price-details > div {
    margin-left: 20px;
    flex-grow: 1;
}

.other-details > h3 > span, .price-details > div > h3 > span {
    font-weight: bold;
}

.other-details > h3 {
    margin-top: 10px;
}

.other-details > h3, .price-details > div > h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.horizontal-line {
    width: 1px;
    background-color: #00000052;
    height: 100%;
    margin-left: 0 !important;
    flex-grow: 0 !important;
}

.other-details {
    width: 100%;
}

.other-details > div {
    width: 100%;
}

.other-details > div > div {
    flex-grow: 1;
}

.other-details > div > div > span {
    margin-left: 10px
}

.car-type {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    box-shadow: 0 0 6px -3px black;
    z-index: 1;
}

.luxury-bach {
    background-color: #f7c41e;
}

.general-bach {
    background-color: #CD7F32;
}

.premium-bach {
    background-color: #C0C0C0;
}

.car-type > h2 {
    margin: 0;
    font-size: 16px;
    color: white;
}

.car-color {
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #ff253a;
    border-radius: 5px;
}

#see-all-btn {
    width: 200px;
    height: 40px;
    border: 2px solid;
    border-radius: 10px;
    margin: 30px 0 25px 0;
    font-size: 18px;
    font-weight: bold;
    background-color: unset;
    color: #0000008c;
}

@media all and (max-width: 675px) {
    #search-bar > select, #search-bar > button {
        display: none;
    }

    #search-bar {
        position: relative;
        width: max-content;
        align-self: flex-end;
        margin-right: 15px;
        border-radius: 10px;
    }

    #filter {
        display: flex;
        width: 90px;
        height: 35px;
        gap: 6px;
    }

    #filter > button {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 10px;
        background-color: white;
    }
}